*-temp.*
*.iml
*.log
*.sha1
*.tmp
*~
.groovy/*.xdsl
.idea
.link_to_grails_plugins
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.*
.~lock.*#
lib
logs
plugins
stacktrace.log
target
target-eclipse
test/reports/*
web-app/WEB-INF/classes
web-app/plugins
